%h3.heading touchAppは作成したアプリケーションを紹介するための記事投稿サイトです

- unless user_signed_in?
  .testuser_login_button
    = link_to("テストユーザーでログイン", testlogin_users_path)

%p.introduction 投稿一覧

= render 'shared/posts_list', posts: @posts