/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import 'bootstrap';
@import 'rouge';


body {
  background-color: #f8f7f7;
}

p {
  overflow-wrap: break-word;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*flash*/

.alert-alert {
  background-color: rgba(253, 206, 105, 0.315);
}

.alert-notice {
  background-color: rgba(116, 208, 236, 0.315);
}

/*footer*/

footer {
  margin-top: auto;
  background-color: rgb(33,37,41);
}

/*posts#index*/

.addition_text {
  position: relative;
  color: green;
  cursor: pointer;
  &:hover:before {
    opacity: 1;
  }
}
.addition_text:before {
  content: attr(aria-label);
  opacity: 0;
  position: absolute;
  top: -50px;
  right: 140px;
  font-size: 14px;
  width: 100px;
  padding: 10px;
  color: #fff;
  background-color: #555;
  border-radius: 3px;
  pointer-events: none;
}

/*posts#show*/

.title-wrapper {
  margin: 15px 0px;
}

.content-wrapper {
  padding: 11px 8px;
  border-radius: 12px;
  background-color: white;
  margin: 15px 0px;
}

/*_posts_list*/

.list-group {
  :hover {
    opacity: 0.8;
  }
}

.list-group-item {
  color: black;
  &:hover {
    color: black;
  }
}

/*users*/

.avatar {
  border-radius: 10px;
}
