@import "bootstrap-sprockets";
@import "bootstrap";

.alert {
  background-color: orange;
	text-align: center;
}

.avatar {
	border-radius: 10px;
}

/*header*/

header {
  background-color: lightgreen;
	
}

#logo {
  float: left;
	font-size: 1.9em;
	font-weight: bold;
	color: darkblue;
	margin-right: 10px;
	letter-spacing: -1px;
	padding-top: 7px;
	&:hover {
	  text-decoration: none;
	}
}

/*footer*/

.footer {
  background-color: lightgreen;
}

.created_by {
	text-align: center;
}

/*post_index*/

.heading {
	text-align: center;
}

.introduction {
	text-align: center;
}

/*posts#show*/

.post_title {
	text-align: center;
	padding: 0 80px;
}

.auther {
	float: right;
	margin-right: 60px;
}

.post_content {
	margin:80px;
	font-size: 1.2em;
}